/* Global CSS */
/* Red Examples: #CD1C18 */
:root {
    --main-red-color: #B22222;
    --light-gray: #dedede;
    --nav-text-color: #fff;
}

nav.navbar {
    padding: 0px; 
    .navbar-brand {
        color: var(--nav-text-color);
    }
    .nav-item {
        color: var(--nav-text-color);
        .nav-link { padding: 20px; color: var(--nav-text-color); }
    }
    &.scrolled {
        background-color: var(--nav-text-color);
        box-shadow: var(--light-gray) 0px 0px 8px 0px;
        .navbar-brand {
            color: #000;
        }
        .nav-item {
            .nav-link { color: #000; }
            &:last-child {
                background-color: var(--main-red-color);
                .nav-link { color: var(--nav-text-color); }

                &:hover {
                    background-color: var(--main-red-color);
                    color: var(--nav-text-color);
                }
            }
            .nav-link:hover {
                background-color: var(--main-red-color);
                color: var(--nav-text-color);
            }
        }
    }
}

/* button classes: btn-cta, btn-alt */

@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}

.title-style {
    h2 {
        font-size: 30px;
        margin-top: 3em;
        margin-bottom: 0px;
        color: var(--main-red-color);
        font-weight: 700;
    }

    h3 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 1em;
    }
}

.btn-cta {
    color: #fff;
    background-color: var(--main-red-color);
    margin-top: 10px;
    border-radius: 0px;

    &:hover {
        color: #fff;
        background-color: #212120;
    }
}


.btn-alt {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    border-radius: 0px;

    &:hover {
        border-color: #d4d6d5;
        color: #d4d6d5;
    }
}


/* Homepage */
section#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../img/CedarChapel/StudioBank.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }
}

section#recent-work {
    background-color: #fff;
    padding-bottom: 100px;

    .most-recent-work {
        background-image: url('../img/CedarChapel/ACM9.jpeg');
        background-repeat: no-repeat;
        background-size: cover;

        /* height: 600px; */
        h4 {
            padding: 500px 10px 25px 10px;
            color: #fff;
        }
    }

    .work2,
    .work3,
    .work4,
    .work5 {
        background-repeat: no-repeat;
        background-size: cover;

        h4 {
            padding: 210px 10px 25px 10px;
            color: #fff;
        }
    }

    .work2 {
        background-image: url('../img/CedarChapel/erose-wellness-cafe-2.jpg');
    }

    .work3 {
        background-image: url('../img/CedarChapel/gibson5.jpg');
    }

    .work4 {
        background-image: url('../img/CedarChapel/valtrius6.jpg');
    }

    .work5 {
        background-image: url('../img/CedarChapel/VUGolfTeamFacility.jpg');
    }

    a {
        float: right;
    }
}

section#about-us {
    background-color: var(--light-gray);
    padding: 6em 0;
    color: #000;

    .title-style {
        h2 {
            margin-top: 0px;
        }
    }

    .col-lg-4,
    .col-xs-12:nth-child(1) {
        background-image: url('../img/CedarChapel/santos-rest-4.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 30%;
        min-height: 400px;
        /* border: 5px solid #fff; */
    }

    @media (max-width: 991px) {
        padding-bottom: 0px !important;

        .col-lg-4,
        .col-xs-12:nth-child(1) {
            margin-top: 2em;
        }
    }

    @media (min-width: 992px) {

        .col-lg-8,
        .col-xs-12:nth-child(2) {
            padding-left: 100px;
        }
    }
}

section#contact-us {

    .col-lg-6,
    col-xs-12:last-child {
        background-image: url('../img/CedarChapel/DukeDriveAme3.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 400px;
    }
}

section#footer {
    background-color: #212120;
    color: #fff;

    a {
        color: #fff;
    }
}


/* Projects Page */

section#projects-hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url("../img/CedarChapel/erose-wellness-cafe-4.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }

    h2 {
        font-size: 20px;
        color: #fff;
        font-weight: 200;
    }
}

section#project-gallery {

    .project1 {
        background-image: url('../img/CedarChapel/ACM1.jpg');
        background-position: center;
        background-size: cover;
        
    }

    .project2 {
        background-image: url('../img/CedarChapel/erose-wellness-cafe-3.jpg');
        background-position: center;
        background-size: cover;
    }

    .project3 {
        background-image: url('../img/CedarChapel/gibson5.jpg');
        background-position: center;
        background-size: cover;
    }

    .project4 {
        background-image: url('../img/CedarChapel/valtrius6.jpg');
        background-position: center;
        background-size: cover;
    }

    .project5 {
        background-image: url('../img/CedarChapel/VUGolfTeamFacility5.jpg');
        background-position: center;
        background-size: cover;
    }

    .project6 {
        background-image: url('../img/CedarChapel/AzkoNobel3.jpg');
        background-position: center;
        background-size: cover;
    }

    .project7 {
        background-image: url('../img/CedarChapel/santos-rest-4.jpg');
        background-position: center;
        background-size: cover;
    }

    .project8 {
        background-image: url('../img/CedarChapel/integrity-music-nash3.jpg');
        background-position: center;
        background-size: cover;
    }

    .project9 {
        background-image: url('../img/CedarChapel/DukeDriveAme2.jpg');
        background-position: center;
        background-size: cover;
    }

        h2 {
            padding: 210px 10px 25px 10px;
            color: #fff;
            font-size: 25px;
        }

        a {
            padding: 210px 10px 25px 10px;
            color: #fff;
            font-size: 25px;
        }
    
}

section#slogan {
    background-color: var(--main-red-color);
    height: 300px;

    h2 {
        color: #fff;
        padding: 130px 0;
        font-size: 50px;
    }
}


/* Project Details Page */

section#project-details-hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/heroexample.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }
}

section#project-photos {

    .photo1,
    .photo2,
    .photo3,
    .photo4,
    .photo5,
    .photo6 {
        background-image: url(../img/trim.JPG);
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 25px;
        padding: 175px 0;
    }
}

section#contact-us-banner {
    background-color: var(--main-red-color);
    padding: 75px 0;

    h2 {
        color: #fff;
    }

    a {
        padding: 6px 60px;
    }
}