/* Global CSS */

/* button classes: btn-cta, btn-alt */

@media (min-width: 1400px) {
    .container {
        max-width: 1440px !important;
    }
}

.title-style {
    h2 {
        font-size: 30px;
        margin-top: 3em;
    }

    h3 {
        font-size: 40px;
        font-weight: 100;
        margin-bottom: 1em;
    }
}

.btn-cta {
    color: #fff;
    background-color: #4f4f4f;
    margin-top: 10px;
    border-radius: 0px;

    &:hover {
        color: #fff;
        background-color: #212120;
    }
}

.btn-alt {
    background-color: transparent;
    color: #fff;
    border-color: #fff;
    border-width: 2px;
    border-radius: 0px;

    &:hover {
        border-color: #d4d6d5;
        color: #d4d6d5;
    }
}


/* Homepage */
section#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/heroexample.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }
}

section#recent-work {
    background-color: #fff;
    padding-bottom: 100px;

    .most-recent-work {
        background-image: url('../img/heroexample.jpg');
        background-repeat: no-repeat;
        background-size: cover;

        /* height: 600px; */
        h4 {
            padding: 500px 10px 25px 10px;
        }
    }

    .work2,
    .work3,
    .work4,
    .work5 {
        background-repeat: no-repeat;
        background-size: cover;

        h4 {
            padding: 210px 10px 25px 10px;
        }
    }

    .work2 {
        background-image: url('../img/cabinets.jpg');
    }

    .work3 {
        background-image: url('../img/countertops.jpg');
    }

    .work4 {
        background-image: url('../img/trim.JPG');
    }

    .work5 {
        background-image: url('../img/wood-panels.jpg');
    }

    a {
        float: right;
    }
}

section#about-us {
    background-color: #f2f2f2;
    padding: 6em 0;

    .title-style {
        h2 {
            margin-top: 0px;
        }
    }

    .col-lg-4,
    .col-xs-12:nth-child(1) {
        background-image: url('../img/cabinets.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 400px;
    }

    @media (max-width: 991px) {
        padding-bottom: 0px !important;

        .col-lg-4,
        .col-xs-12:nth-child(1) {
            margin-top: 2em;
        }
    }

    @media (min-width: 992px) {

        .col-lg-8,
        .col-xs-12:nth-child(2) {
            padding-left: 100px;
        }
    }
}

section#contact-us {

    .col-lg-6,
    col-xs-12:last-child {
        background-image: url('../img/contact-us-image.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-top: 400px;
    }
}

section#footer {
    background-color: #212120;
    color: #fff;

    a {
        color: #fff;
    }
}


/* Projects Page */

section#projects-hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/heroexample.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;

    h1 {
        color: #fff;
        font-size: 75px;
    }

    h2 {
        font-size: 20px;
        color: #fff;
        font-weight: 200;
    }
}

section#project-gallery {

    .project1,
    .project2,
    .project3,
    .project4,
    .project5,
    .project6 {
        background-image: url('../img/cabinets.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 25px;

        h2 {
            padding: 210px 10px 25px 10px;
            color: #fff;
            font-size: 25px;
        }
    }
}

section#slogan {
    background-color: #4f4f4f;
    height: 300px;
    h2 {
        color: #fff;
        padding: 130px 0;
        font-size: 50px;
    }
}