h2 {
    font-size: 30px;
    margin-top: 3em;
}

h3 {
    font-size: 40px;
    font-weight: 100;
    margin-bottom: 1em;
}


section#hero {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/heroexample.jpg");
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 325px 0;
}
section#hero h1 {
    color: #fff;
    font-size: 75px;
}

section#hero a {
    color: #fff;
    background-color: #4f4f4f;
    margin-top: 10px;
}

section#hero a:hover {
    color: #fff;
    background-color: #212120;
}

section#recent-work {
    background-color: #d4d6d5;
    margin-top: 3em;
    padding-bottom: 100px;
}

section#recent-work .col-4 {
    background-image: url('../img/heroexample.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

section#recent-work .col-8 {
    height: 600px;
}

section#recent-work .col-6 {
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}

section#recent-work .col-6:nth-child(1) {
    background-image: url('../img/cabinets.jpg');
}

section#recent-work .col-6:nth-child(2) {
    background-image: url('../img/countertops.jpg');
}

section#recent-work .col-6:nth-child(3) {
    background-image: url('../img/trim.JPG');
}

section#recent-work .col-6:nth-child(4) {
    background-image: url('../img/wood-panels.jpg');
}

section#recent-work a {
    color: #fff;
    background-color: #4f4f4f;
    margin: 2em 0 0 12px;
    width: 100%;
}

section#recent-work a:hover {
    color: #fff;
    background-color: #212120;
}

section#about-us {
    margin: 3em 0;
}

section#about-us .col-4 {
    background-image: url('../img/cabinets.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

section#about-us .col-8 {
    padding-left: 100px;
}

section#about-us a {
    color: #fff;
    background-color: #4f4f4f;
    margin-top: 10px;
}

section#about-us a:hover {
    color: #fff;
    background-color: #212120;
}

section#contact-us {
    background-color: #d4d6d5;
}

section#contact-us .col-8 {
    background-color: #4f4f4f;
    padding: 50px;
    margin: 0 auto;
}

section#contact-us a {
    color: #fff;
    background-color: #212120;
    margin-top: 10px;
    width: 100%;
}

section#contact-us a:hover {
    color: #fff;
    background-color: #d4d6d5;
}
